@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.forum-body {
  background-color: #3c3f5c;
  padding: 3rem;
}

.flush-item-link:link,
.flush-item-link:visited {
  text-decoration: none;
  color: black;
}

.flush-item-link:hover li {
  background-color: #cbe8f5;
}

.forum-nav a {
  display: inline-block;
  padding: 1em;
  background-color: #3e5970;
}

.forum-nav a:link,
.forum-nav a:visited {
  color: white;
  text-decoration: none;
}

.forum-nav a:hover {
  background-color: #3484b3;
}

